img {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 800px;
  margin-bottom: 80px;


}
.container {
  width: 100%;
  
  font-size: xx-large;
  color: rgb(43, 56, 52);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

}



